.tips
  margin 1rem 0.5rem
  padding 0.1rem 1.5rem
  border-radius 0.4rem
  background-color #f2f2f3
  .title
    font-weight bold
    margin-top 1rem
.info
  border-left 5px solid #c7ced6
  background-color #f0f4f8
.error
  border-left 5px solid #f56c6c
  background-color #fff0f0
.success
  border-left 5px solid #32de37
  background-color #edfded
.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right